.ppc{
    display: flex;
    flex-wrap: wrap;
    
    row-gap: 3px;
    margin-left: 5px;
    width: 600px;
    margin-bottom: 5rem;
}
.body2{
    background: rgba(180,163,255,1);
background: -moz-linear-gradient(left, rgba(180,163,255,1) 0%, rgba(43,15,255,1) 50%, rgba(187,173,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(180,163,255,1)), color-stop(50%, rgba(43,15,255,1)), color-stop(100%, rgba(187,173,255,1)));
background: -webkit-linear-gradient(left, rgba(180,163,255,1) 0%, rgba(43,15,255,1) 50%, rgba(187,173,255,1) 100%);
background: -o-linear-gradient(left, rgba(180,163,255,1) 0%, rgba(43,15,255,1) 50%, rgba(187,173,255,1) 100%);
background: -ms-linear-gradient(left, rgba(180,163,255,1) 0%, rgba(43,15,255,1) 50%, rgba(187,173,255,1) 100%);
background: linear-gradient(to right, rgba(180,163,255,1) 0%, rgba(43,15,255,1) 50%, rgba(187,173,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4a3ff', endColorstr='#bbadff', GradientType=1 );
    /* width: 100%; */
}
.card1{
    padding: 10px;
    border-radius: 10px;
}
@media screen and (max-width:600px) {
    .body2{
        width: 100%;
        background: rgba(180,163,255,1);
background: -moz-linear-gradient(left, rgba(180,163,255,1) 0%, rgba(43,15,255,1) 50%, rgba(187,173,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(180,163,255,1)), color-stop(50%, rgba(43,15,255,1)), color-stop(100%, rgba(187,173,255,1)));
background: -webkit-linear-gradient(left, rgba(180,163,255,1) 0%, rgba(43,15,255,1) 50%, rgba(187,173,255,1) 100%);
background: -o-linear-gradient(left, rgba(180,163,255,1) 0%, rgba(43,15,255,1) 50%, rgba(187,173,255,1) 100%);
background: -ms-linear-gradient(left, rgba(180,163,255,1) 0%, rgba(43,15,255,1) 50%, rgba(187,173,255,1) 100%);
background: linear-gradient(to right, rgba(180,163,255,1) 0%, rgba(43,15,255,1) 50%, rgba(187,173,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4a3ff', endColorstr='#bbadff', GradientType=1 );
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        
        

    }
    .ppc{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-right: 0%;
        column-gap: 3px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}